@page                       {margin:0; padding:0}
/* purisa */
body                        {font-family:"purisa"; font-size:10pt; color:black; background:white; border:0mm; margin:0mm; padding:0mm}
*                           {font-family:inherit; font-size:inherit; color:inherit; font-weight:inherit; background:transparent; border:0mm; margin:0mm; padding:0mm}

div.page                    {background:#e8e8be; position:absolute; top:5mm; left:5mm; width:270mm; height:190mm; border:solid black 15px; border-radius: 70px}
div.random-00               {background:#e8e8be url("00.svg") no-repeat}
div.random-01               {background:#e8e8be url("01.svg") no-repeat}
div.random-02               {background:#e8e8be url("02.svg") no-repeat}
div.random-03               {background:#e8e8be url("03.svg") no-repeat}
div.random-04               {background:#e8e8be url("04.svg") no-repeat}
div.random-05               {background:#e8e8be url("05.svg") no-repeat}
div.random-06               {background:#e8e8be url("06.svg") no-repeat}
div.random-07               {background:#e8e8be url("07.svg") no-repeat}
div.random-08               {background:#e8e8be url("08.svg") no-repeat}
div.random-09               {background:#e8e8be url("09.svg") no-repeat}
div.random-10               {background:#e8e8be url("10.svg") no-repeat}
div.random-11               {background:#e8e8be url("11.svg") no-repeat}
div.random-12               {background:#e8e8be url("12.svg") no-repeat}
div.random-13               {background:#e8e8be url("13.svg") no-repeat}
div.random-14               {background:#e8e8be url("14.svg") no-repeat}
div.random-15               {background:#e8e8be url("15.svg") no-repeat}
div.random-16               {background:#e8e8be url("16.svg") no-repeat}
div.random-17               {background:#e8e8be url("17.svg") no-repeat}
div.random-18               {background:#e8e8be url("18.svg") no-repeat}
div.random-19               {background:#e8e8be url("19.svg") no-repeat}
div.cat-01                  {border-color:#5e584d /*dark grey*/}
div.cat-02                  {border-color:#2b0011 /*dark violet*/}
div.cat-03                  {border-color:#0e422e /*dark turquoise*/}
div.cat-04                  {border-color:#00112b /*dark blue*/}
div.cat-05                  {border-color:#743908 /*dark_orange*/}
div.cat-06                  {border-color:#2c2104 /*dark kaki */}
div.cat-07                  {border-color:#002500 /*dark green*/}

.transparent                {opacity: 0.5}

div.title                   {position:absolute; top:4mm; left:0mm; width:200mm; height:25mm}
div.title h1                {font-size:32pt; text-align:center; font-weight:bold}
div.title span              {}
div.title span#s1           {position:absolute; visibility:hidden}
div.title span#s2           {}


div.cat-01 div.title h1    {color:#5e584d; text-shadow: 0px -1px #5e584d, -1px 0px #5e584d, 1px 0px #5e584d, 0px 1px #5e584d, -1px 1px #555, -2px 2px #555, -3px 3px #555, -4px 4px 5px #555}
div.cat-02 div.title h1    {color:#2b0011; text-shadow: 0px -1px #2b0011, -1px 0px #2b0011, 1px 0px #2b0011, 0px 1px #2b0011, -1px 1px #555, -2px 2px #555, -3px 3px #555, -4px 4px 5px #555}
div.cat-03 div.title h1    {color:#0e422e; text-shadow: 0px -1px #0e422e, -1px 0px #0e422e, 1px 0px #0e422e, 0px 1px #0e422e, -1px 1px #555, -2px 2px #555, -3px 3px #555, -4px 4px 5px #555}
div.cat-04 div.title h1  {color:#00112b; text-shadow: 0px -1px #00112b, -1px 0px #00112b, 1px 0px #00112b, 0px 1px #00112b, -1px 1px #555, -2px 2px #555, -3px 3px #555, -4px 4px 5px #555}
div.cat-05 div.title h1    {color:#743908; text-shadow: 0px -1px #743908, -1px 0px #743908, 1px 0px #743908, 0px 1px #743908, -1px 1px #555, -2px 2px #555, -3px 3px #555, -4px 4px 5px #555}
div.cat-06 div.title h1    {color:#2c2104; text-shadow: 0px -1px #2c2104, -1px 0px #2c2104, 1px 0px #2c2104, 0px 1px #2c2104, -1px 1px #555, -2px 2px #555, -3px 3px #555, -4px 4px 5px #555}
div.cat-07 div.title h1    {color:#002500; text-shadow: 0px -1px #002500, -1px 0px #002500, 1px 0px #002500, 0px 1px #002500, -1px 1px #555, -2px 2px #555, -3px 3px #555, -4px 4px 5px #555}


div.description             {position:absolute; visibility:hidden}
div.description p           {}
div.description span        {}
div.description span#s1     {}
div.description span#s2     {}


div.notes                   {position:absolute; visibility:hidden}
div.notes p                 {}
div.notes span              {}
div.notes span#s1           {}
div.notes span#s2           {}


div.source                  {position:absolute; visibility:hidden}
div.source p                {}
div.source span             {}
div.source span#s1          {}
div.source span#s2          {}


div.style                   {position:absolute; visibility:hidden}
div.style p                 {}
div.style span              {}
div.style span#s1           {}
div.style span#s2           {}


div.vegetarian_no              {position:absolute; visibility:hidden}
div.vegetarian_no p            {color:red}
div.vegetarian_no span         {}
div.vegetarian_no span#s1      {}
div.vegetarian_no span#s2      {}


/*div.vegetarian_yes             {position:absolute; top:158mm; left:87mm; width:15mm; height:15mm; background:url(veggie.png) no-repeat; opacity:0.8}*/
div.vegetarian_yes             {position:absolute; visibility:hidden}
div.vegetarian_yes p           {position:absolute; visibility:hidden}
div.vegetarian_yes span        {}
div.vegetarian_yes span#s1     {}
div.vegetarian_yes span#s2     {}


div.categories              {position:absolute; visibility:hidden}
div.categories h2           {}
div.categories ul           {}
div.categories li           {list-style:none}
div.categories p            {}


div.attributes             {font-family:"From Where You Are"; font-size:9pt; color:#000031; position:absolute; top:1mm; left:204mm; width:50mm; height:40mm; background: url(postit.jpg) no-repeat; padding-top:5mm; padding-left:3mm; padding-right:3mm}
div.attributes h2          {position:absolute; visibility:hidden}
div.attributes ul          {}
div.attributes li          {list-style:none; border-bottom:solid #c8c959 1px}
div.attributes p           {padding-left:1mm; padding-right:1mm; padding-top:0.3mm; padding-bottom:0.2mm}
div.attributes span        {}
div.attributes span.s_attribute   {display:inline-block; width:25mm}
div.attributes span.s_value{font-style:italic}
div.attributes span.s_unit {font-style:italic}


div.ingredients             {font-family:"From Where You Are"; font-size:9pt; color:white; font-weight:bold; position:absolute; top:46mm; left:4mm; width:87mm; height:127mm; background: #000 url(chalkboard.jpg) no-repeat; padding-left:8mm; padding-top:5mm; padding-right:5mm; -webkit-box-shadow:-1px 1px #1f0000, -2px 2px #1f0000, -3px 3px #1f0000, -10px 10px 15px #1f0000, -10px 10px 5px #1f0000; box-shadow:-1px 1px #1f0000, -2px 2px #1f0000, -3px 3px #1f0000, -10px 10px 15px #1f0000, -10px 10px 5px #1f0000; -moz-transform: rotate(-1deg);  -webkit-transform:rotate(-1deg)}
div.ingredients h2          {position:absolute; visibility:hidden}
div.ingredients ul.group    {}
div.ingredients ul.group > li {list-style:none}
div.ingredients ul.group h3 {margin-top:5mm; margin-bottom:2mm; font-style:italic; color:#d7d3cd; text-transform:uppercase}
div.ingredients ul.ingredient       {}
div.ingredients ul.ingredient li    {list-style:none}
div.ingredients ul.ingredient p     {padding-left:1mm; padding-right:1mm; padding-top:0mm}
div.ingredients ul.ingredient p.ing-06   {color:#a3bf9a}
div.ingredients ul.ingredient p.ing-01   {color:#bf9aa6}
div.ingredients ul.ingredient p.ing-07   {color:#ac9abf}
div.ingredients ul.ingredient p.ing-05   {color:#b9bf9a}
div.ingredients ul.ingredient p.ing-03   {color:#9abfa0}
div.ingredients ul.ingredient p.ing-04   {color:#9aa1bf}
div.ingredients ul.ingredient p.ing-08   {color:#ddddb3}
div.ingredients ul.ingredient p.ing-02   {color:#ddceb3}
div.ingredients ul.ingredient span  {}
div.ingredients ul.ingredient span.s_ingredient {display:inline-block; width:55mm; }
div.ingredients ul.ingredient span.s_value      {font-style:italic}
div.ingredients ul.ingredient span.s_unit       {font-style:italic}


div.preparation            {font-family:"set fire to the rain";font-size:12pt; position:absolute; top:45mm; left:115mm; width:150mm; height:140mm; -moz-transform: rotate(1deg); -webkit-transform:rotate(1deg) }
div.preparation h2          {position:absolute; visibility:hidden}
div.preparation table      {border:solid 1px #CCCCFF; padding-top:4mm; padding-bottom:2mm; padding-left:3mm; padding-right:3mm;background: #e5dda5 url(grid.png) repeat; color:#000031; -webkit-box-shadow:-1px 1px #000, -2px 2px 10px #000; box-shadow:-1px 1px #000, -2px 2px 10px #000}
div.preparation tr         {}
div.preparation td         {vertical-align:top}
div.preparation p          {}
div.preparation p.i_numbering   {font-weight:bold; font-size:10pt; border-bottom:solid 3px; border-right:solid 3px; border-radius: 16px; width:6mm; margin-right:2mm; text-align:center}
div.preparation p.i_text   {text-align:justify;padding-bottom:4px}
div.preparation p.i_empty  {display:inline-block; width:100%; height:5mm; background:url(separation.png) no-repeat}