body                        {color:black; background:white; border:0mm; margin:0mm; padding:0mm; font-size:12pt}
*                           {font-family:"purisa"; color:black; background:transparent; border:0mm; margin:0mm; padding:0mm; font-size:inherit}

div.page                    {position:absolute; top:5mm; left:5mm; width:270mm; height:198mm; border:solid black 1px; background:url("1-1.jpg") no-repeat}


div.title                   {position:absolute; top:25mm; left:100mm; width:180mm; height:10mm; }
div.title h1                {font-size:20pt; text-align:center}


div.description             {position:absolute; visibility:hidden}
div.description p           {}
div.description span        {}
div.description span#s1     {}
div.description span#s2     {}


div.notes                   {position:absolute; visibility:hidden}
div.notes p                 {}
div.notes span              {}
div.notes span#s1           {}
div.notes span#s2           {}


div.source                  {position:absolute; visibility:hidden}
div.source p                {}
div.source span             {}
div.source span#s1          {}
div.source span#s2          {}


div.style                   {position:absolute; visibility:hidden}
div.style p                 {}
div.style span              {}
div.style span#s1           {}
div.style span#s2           {}


div.vegetarian_no           {position:absolute; visibility:hidden}
div.vegetarian_no p         {}
div.vegetarian_no span      {}
div.vegetarian_no span#s1   {}
div.vegetarian_no span#s2   {}


div.vegetarian_yes          {position:absolute; visibility:hidden}
div.vegetarian_yes p        {}
div.vegetarian_yes span     {}
div.vegetarian_yes span#s1  {}
div.vegetarian_yes span#s2  {}


div.categories              {position:absolute; visibility:hidden}
div.categories h2           {}
div.categories ul           {}
div.categories li           {list-style:none}
div.categories p            {}


div.attributes             {position:absolute; top:40mm; left:40mm; width:30mm; height:30mm; font-size:7pt;}
div.attributes h2          {position:absolute; visibility:hidden}
div.attributes ul          {}
div.attributes li          {list-style:none}
div.attributes p           {padding-left:1mm; padding-right:1mm; padding-top:0.7mm; padding-bottom:0.5mm}
div.attributes span        {}
div.attributes span.s_attribute   {}
div.attributes span.s_value{font-style:italic}
div.attributes span.s_unit {font-style:italic}


div.ingredients             {position:absolute; top:48mm; left:93mm; width:160mm; height:50mm}
div.ingredients h2          {position:absolute; visibility:hidden}
div.ingredients ul.group    {}
div.ingredients ul.group > li {list-style:none; display:inline-block}
div.ingredients ul.group h3 {margin-top:5mm; margin-bottom:2mm; font-style:italic}
div.ingredients ul.ingredient       {}
div.ingredients ul.ingredient li    {list-style:none; font-size:10pt; display:inline-block}
div.ingredients ul.ingredient p     {}
div.ingredients ul.ingredient span  {}
div.ingredients ul.ingredient span.s_ingredient {display:inline-block;}
div.ingredients ul.ingredient span.s_value      {font-style:italic}
div.ingredients ul.ingredient span.s_unit       {font-style:italic}


div.preparation            {position:absolute; top:100mm; left:90mm; width:160mm; height:150mm;font-size:8pt;}
div.preparation h2          {position:absolute; visibility:hidden}
div.preparation table      {}
div.preparation tr         {}
div.preparation td         {vertical-align:top}
div.preparation p          {}
div.preparation p.i_numbering   {position:absolute; visibility:hidden}
div.preparation p.i_text {width:160mm; text-align:justify}
div.preparation p.i_empty   {}