body                        {color:black; background:white; border:0mm; margin:0mm; padding:0mm; font-size:12pt}
*                           {color:black; background:transparent; border:0mm; margin:0mm; padding:0mm; font-size:inherit}

div.page                    {position:absolute; top:5mm; left:5mm; width:270mm; height:190mm; border:solid black 1px; border-radius: 70px}


div.title                   {position:absolute; top:3mm; left:5mm; width:180mm; height:10mm; }
div.title h1                {font-size:20pt; text-align:center}


div.description             {position:absolute; top:13mm; left:5mm; width:180mm; height:5mm}
div.description p           {text-align:center}
div.description span        {}
div.description span#s1     {position:absolute; visibility:hidden}
div.description span#s2     {}


div.notes                   {position:absolute; top:18mm; left:5mm; width:180mm; height:5mm}
div.notes p                 {text-align:center}
div.notes span              {}
div.notes span#s1           {position:absolute; visibility:hidden}
div.notes span#s2           {}


div.source                  {position:absolute; visibility:hidden}
div.source p                {}
div.source span             {}
div.source span#s1         {}
div.source span#s2         {}


div.style                   {position:absolute; visibility:hidden}
div.style p                 {}
div.style span              {}
div.style span#s1          {}
div.style span#s2          {}


div.vegetarian_no           {}
div.vegetarian_no p         {}
div.vegetarian_no span      {}
div.vegetarian_no span#s1   {}
div.vegetarian_no span#s2   {}


div.vegetarian_yes              {position:absolute; visibility:hidden}
div.vegetarian_yes p            {}
div.vegetarian_yes span         {}
div.vegetarian_yes span#s1     {}
div.vegetarian_yes span#s2     {}


div.categories              {position:absolute; visibility:hidden}
div.categories h2           {}
div.categories ul           {}
div.categories li           {list-style:none}
div.categories p            {}


div.attributes             {position:absolute; top:3mm; left:200mm; width:60mm; height:30mm}
div.attributes h2          {position:absolute; visibility:hidden}
div.attributes ul          {}
div.attributes li          {list-style:none; border-bottom:solid #aaa 1px}
div.attributes p           {padding-left:1mm; padding-right:1mm; padding-top:0.7mm; padding-bottom:0.5mm}
div.attributes span        {}
div.attributes span.s_attribute   {display:inline-block; width:30mm}
div.attributes span.s_value{font-style:italic}
div.attributes span.s_unit {font-style:italic}


div.ingredients             {position:absolute; top:35mm; left:5mm; width:70mm; height:150mm}
div.ingredients h2          {margin-bottom:5mm; text-align:center}
div.ingredients ul.group    {}
div.ingredients ul.group > li {list-style:none}
div.ingredients ul.group h3 {margin-top:5mm; margin-bottom:2mm; font-style:italic}
div.ingredients ul.ingredient       {}
div.ingredients ul.ingredient li    {list-style:none; border-bottom:solid #aaa 1px; font-size:11pt}
div.ingredients ul.ingredient p     {padding-left:1mm; padding-right:1mm; padding-top:0.7mm; padding-bottom:0.5mm}
div.ingredients ul.ingredient span  {}
div.ingredients ul.ingredient span.s_ingredient {display:inline-block; width:45mm}
div.ingredients ul.ingredient span.s_value      {font-style:italic}
div.ingredients ul.ingredient span.s_unit       {font-style:italic}


div.preparation            {position:absolute; top:35mm; left:85mm; width:175mm; height:150mm;}
div.preparation h2          {margin-bottom:5mm; text-align:center}
div.preparation table      {}
div.preparation tr         {min-height:10mm}
div.preparation td         {vertical-align:top}
div.preparation p          {}
div.preparation p.i_numbering   {width:7mm; margin-bottom:2mm; margin-right:3mm; text-align:right}
div.preparation p.i_text {width:163mm; margin-bottom:2mm; text-align:justify}
div.preparation p.i_empty   {}